################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ExoPlayerDemo/.vs/ExoPlayerDemo/v15
/ExoPlayerDemo/ExoPlayerDemo/ExoPlayerDemo/obj
/ExoPlayerDemo/ExoPlayerDemo/ExoPlayerDemo.Android/obj
